.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15px;

}

.header ul {
    list-style: none;
    display: flex;
    column-gap: 15px;
}

.header li a {
    color: var(--secondary);
    font-size: 13px;
    line-height: 24px;
}
